<style>
        .section-container--{{ section.id }}{
          margin-top: {{ section.settings.margin_top | append:'px' }};
          margin-bottom: {{ section.settings.margin_bottom | append:'px' }};
          padding-top: {{ section.settings.padding_top | append:'px' }};
          padding-bottom: {{ section.settings.padding_bottom | append:'px' }};
          overflow: hidden;
          /* background-image: linear-gradient( to right , #E1EBF1 60%, #ffffff 60%); */
        }
      .section-wrapper--{{ section.id }} {
          display: grid;
          /* grid-template-columns: minmax(0px, 1.4fr) minmax(0px, 1fr); */
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 00px;
      }
       .section-container--{{ section.id }} .left-column {
          grid-column : 1/3;
          background-color: #E1EBF1;
          padding: 50px 200px 50px 100px;
          border-radius: 0px 30px 30px 0px;
      }
      .section-container--{{ section.id }} .right-column {
          display: flex;
          align-items: center;
      }
      .section-container--{{ section.id }} .ingredient-block-wrapper {
          display: flex;
          padding-block: 15px;
          text-align: center;
          gap: 10px;
          border-bottom: 5px dotted #9AB7C8;
      }

      .section-wrapper--{{ section.id }} img {
          max-width: 100%;
      }
      .section-wrapper--{{ section.id }} .single-ingredient img {
          max-width: 80px;
      }
      .section-wrapper--{{ section.id }} .single-ingredient h6 {
          max-width: 80%;
          line-height: 1;
          font-size: 10px;
          font-weight: 400;
          color: #000000;
          margin: 0px auto 20px;
      }
      .section-wrapper--{{ section.id }} .mali-content {
          font-size: 12px;
          color: #000000;
          line-height: 1.3em;
          text-align: justify;
      }
      .section-wrapper--{{ section.id }} .mali-content p {
          margin-block: 30px;
      }


    /* Swiper Slider Start   */
    .swiper-container-box{
        max-width : 500px;
        transform: translateX(-30%);
    }
    .section-container--{{ section.id }} .boxed-wrapper {
        border: 5px solid #ffffff;
        line-height: 1;
        border-radius: 30px;
        overflow: hidden;
    }
    .section-container--{{ section.id }} .boxed-wrapper .swiper-slide {
        line-height: 0;
    }
    .section-container--{{ section.id }} .boxed-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        max-width: max-content;
        margin: auto;
    }
    .section-container--{{ section.id }} span.swiper-pagination-bullet {
        background: #034872;
    }
    .section-container--{{ section.id }} .boxed-swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #ffffff;
        border: 2px solid #034872;
    }
    /* Swiper Slider End   */
        @media screen and (max-width: 768px){
  .section-container--{{ section.id }}{
      margin-top: {{ section.settings.margin_top_mobile | append:'px' }};
      margin-bottom: {{ section.settings.margin_bottom_mobile | append:'px'  }};
      padding-top: {{ section.settings.padding_top_mobile | append:'px' }};
      padding-bottom: {{ section.settings.padding_bottom_mobile | append:'px' }};
  }
  .section-wrapper--{{ section.id }} {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0px;

  }

  .section-container--{{ section.id }} .left-column {
      padding: 30px 30px 100px;
      border-radius: 0px 0px 30px 30px;
  }

  .section-container--{{ section.id }} .ingredient-block-wrapper {
      flex-wrap: wrap;
      justify-content: center;
  }
  .swiper-container-box {
      max-width: 80vw;
      transform: unset;
      margin: auto;
      transform: translateY(-50px);
  }
        }
</style>
<section class="section-container--{{ section.id }} desktop-only">
  <div class="section-wrapper--{{ section.id }} ">
    <div class="left-column">
      <h2 class="mali-title ">
        {{ section.settings.title }}
      </h2>
      <div class="ingredient-block-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'ingredient' %}
            <div class="single-ingredient">
              {{ block.settings.image | img_url: 'master' | img_tag }}
              <h6>{{ block.settings.title }}</h6>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="mali-content">{{ section.settings.content }}</div>
      <div class="button-wrapper">
        <a class="custom-button" href="{{ section.settings.url_ingredient }}">Our Ingredients > </a>
        <a class="custom-button" href="{{ section.settings.url_shop }}">Shop Now > </a>
      </div>
    </div>
    <div class="right-column">
      <div class="swiper-container-box">
        <div class="swiper mySwiper mySwiper-desktop boxed-wrapper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.type == 'image' %}
                <div class="swiper-slide">
                  {{ block.settings.image | img_url: 'master' | img_tag }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="boxed-swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
<style>
   @media screen and (max-width: 768px){
.section-wrapper--{{ section.id }}   {
position: relative;
padding-top: 50px;
}
     
.section-container--{{ section.id }} img.round-text {
position: absolute;
right: -40px;
top: 0;
max-width: 150px;
}
.section-container--{{ section.id }} img.top-mug {
max-width: 75px;
}
     .mobile-contents-top-{{ section.id }} {
       padding-inline: 2rem;
     }
       .mali-title.title-{{ section.id }} {
      text-align: left;
         margin-block: 0;
         font-size: 30px;
  }
       .section-wrapper--{{ section.id }} .mali-content p {
          margin-block: 10px;
          font-size: 13px;
      }
    .mobile-contents-bottom-{{ section.id }} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      overflow: hidden;
      background-color: #E1EBF1;
      /* background-image: url("https://static.wixstatic.com/media/b191d3_482a5247a7e249dd998d2d216caf2998~mv2.png/v1/fill/w_640,h_398,al_tr,q_85,usm_0.66_1.00_0.01,enc_auto/b191d3_482a5247a7e249dd998d2d216caf2998~mv2.png"); */
      /* background-image: url("{{ 'curve-bg.png'| asset_url }}"); */
      background-image: url("{{ 'gr-1.png'| asset_url }}");
      background-position: center right;
      background-size: 100%;
      padding-block: 30px;
  }
     
.section-container--{{ section.id }}  .button-wrapper {
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      width: max-content;
      transform: translateX(-20px);
  }
.section-container--{{ section.id }} a.custom-button.malibu {
    padding-left: 30px;
}
  .swiper-container-box {
      max-width: 60vw;
      transform: unset;
      margin: auto;
      transform: translateY(10px) translateX(30px);
  }
 .boxed-swiper-pagination-mobile.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center;
}
   }
</style>

<section class="section-container--{{ section.id }} mobile-only">
  <div class="section-wrapper--{{ section.id }} ">
     <img class="round-text" src="{{ 'round-text.svg' | asset_url }}" /> 
    <div class="mobile-contents-top-{{ section.id }}">
      <img class="top-mug" src="{{ 'top-mug.svg' | asset_url }}" /> 
      <h2 class="mali-title title-{{ section.id }}">{{ section.settings.title }}</h2>
      <div class="mali-content">{{ section.settings.content }}</div>
    </div>

    <div class="mobile-contents-bottom-{{ section.id }}">
      <div class="button-wrapper">
        <a class="custom-button malibu" href="{{ section.settings.url_ingredient }}">Our Ingredients > </a>
        <a class="custom-button malibu" href="{{ section.settings.url_shop }}">Shop Now > </a>
      </div>
      <div class="swiper-container-box">
        <div class="swiper mySwiper mySwiper-mobile boxed-wrapper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.type == 'image' %}
                <div class="swiper-slide">
                  {{ block.settings.image | img_url: 'master' | img_tag }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="boxed-swiper-pagination-mobile"></div>
      </div>
    </div>
  </div>
</section>

<script>
  new Swiper(".mySwiper-desktop", {
    slidesPerView: 1,
    pagination: {
      el: ".boxed-swiper-pagination",
      clickable: true,
    },
  });
  new Swiper(".mySwiper-mobile", {
    slidesPerView: 1,
    pagination: {
      el: ".boxed-swiper-pagination-mobile",
      clickable: true,
    },
  });
</script>

{% schema %}
{
  "name": "Mali Image Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "url_ingredient",
      "label": "Ingredient Url"
    },
    {
      "type": "url",
      "id": "url_shop",
      "label": "Shop Url"
    },
    {
      "type": "header",
      "content": "Desktop Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Spacing"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top  (Mobile)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom  (Mobile)",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Ingredient",
      "type": "ingredient",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Ingredient Name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Mali Image Slider"
    }
  ]
}
{% endschema %}
